@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Apercu Pro';
  src: url('/public/font/ApercuPro-Regular.woff2') format('truetype');
  /* Add other font formats if needed */
}
@font-face {
  font-family: 'Apercu Pro Light';
  src: url('/public/font/ApercuPro-Light.woff2') format('truetype');
  /* Add other font formats if needed */
}
@font-face {
  font-family: 'Apercu Pro Medium';
  src: url('/public/font/ApercuPro-Medium.woff2') format('truetype');
  /* Add other font formats if needed */
}
@font-face {
  font-family: 'Apercu Pro Bold';
  src: url('/public/font/ApercuPro-Bold.woff2') format('truetype');
  /* Add other font formats if needed */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
